.customStyleBtn {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  color: var(--info);
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  margin: 16px;
  background-color: var(--white) !important;
  padding-left: 0 !important;
  padding-top: 0 !important;
}
