.textCreateSub {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: var(--grey);
  margin: auto;
  text-align: center;
  display: flex;

  @media (max-width: $md) {
    flex-direction: column;
    padding: 0 12px;
  }

  .createSubscription {
    color: var(--main);
    padding-left: 8px;
  }
}
