.authLayout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  @media (max-width: $md) {
    grid-template-columns: 1fr;
  }

  .positionContent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
  }

  .imgScreen {
    background: linear-gradient(
      180deg,
      rgba(227, 157, 255, 0.2),
      rgba(244, 217, 255, 0.2) 100%
    );

    @media (max-width: $md) {
      display: none;
    }
  }
}
